@(user: User)

       <h1 class="text-center" style="font-size:20px; color:#6834B1">Pedidos</h1></title

       <p> Clave LUARKA encriptada: @user.passwordHash</p>
    <br>
    <br>
    
       <textarea class="text-center" class="col-xs-7" class="form-control" rows="3"></textarea>
       <br>
       <a class="btn btn-success" href="aqui va la ruta para enviar pdf!!!!"> Enviar Factura </a>
    
    <br>
    
    
    
    <a class="btn btn-success" href="@routes.Application.logout()"> Cerrar ventana de Administración </a>
</html>
