@main(""){
        

         <h1 class="text-center" style="font-size:20px; color:#6834B1">Compra</h1>
<br>


  <p>Producto a seleccionar:</p>
  <br>
  <select  class="col-xs-7" class="text-center">
       <option>Paquete: 12 Columnas Precio:100000</option>
       <option>Paquete: 12 Tes Precio:120000</option>
       <option>Paquete: 12 Coronas Precio:80000</option>
       <option>Paquete: 12 Baldosas Precio:100000</option>
     </select>
  
   <br>
   <a href="" class="btn btn-success">Colocar en el carro de compras</a>
   <div>
         <p>Carro de compras:</p>
         <textarea class="text-center" class="col-xs-7" class="form-control" rows="3"></textarea>
         </div>
  
 

 <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=""></div><a href="" class="btn btn-success">Calcular</a>
   
    <br>
  
    <a href="" class="btn btn-success">Comprar</a>
    
      


    
  
         
        
         
        
    }