<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Constructora LUARKA S.A.</title>
  </head>

<body>
<div>
<img src="@routes.Assets.versioned(/images/logo.png)" alt="LUARKA" height="30" width="30" style="float:left;"> </>
<p align="right">Cont&aacute;ctenos:(506) 800-LUARKA</p>


  <div id="topmenu">
   <ul>
    <li><div style="margin-top:18px; margin-right:10px; float:right"><a href="/">Inicio</a></div></li>
    <li><div style="margin-top:18px;"><a href="nosotros.scala.html">Nosotros</a></div></li>
    <li><div style="margin-top:18px;"><a href="productos.scala.html">Productos</a></div></li>
    <li><div style="margin-top:18px;"><a href="horarios.scala.html">Horarios</a></div></li>
    <li><div style="margin-top:18px;"><a href="compra.scala.html">Compra</a></div></li>
    <li><div style="margin-top:18px;"><a href="administracion.scala.html">Administraci&oacute;n</a></div></li>
    <li style="background:none"><div style="margin-top:18px; margin-left:5px;"><a href="contactenos.scala.html">Cont&aacute;ctenos</a></div></li>
   </ul>
  </div>

</div>

<div id="contentwrp">
 <div id="content">
  <h1 style="font-size:16px; color:#4074B0">Bienvenido!</h1>
<p>Constructora LUARKA S.A.<br>
 Fabricaci&oacute;n de productos a base de concreto como:<br>
 <br>
 Baldosas, Columnas, Postes, entre otros implementos para construcci&oacute;n<br>
 Diversos modelos de paquetes de casas prefabricadas<br>
 <br>
Ofrecemos los mejores precios del pa&iacute;s.
Compre calidad, compre con nosotros<br>
<p>Constructora -LUARKA Construimos para la gente-</p>
<p>&nbsp;</p>

 </body>
 
 </html>


