<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Constructora LUARKA S.A.</title>
  </head>

</body>
<img src="images/logo.png" alt="0" height="30%" width="30%" float:"right"</>
<p align="right">Cont&aacute;ctenos:(506) 800-LUARKA</p>


  <div id="topmenu">
   <ul>
    <li><div style="margin-top:18px; margin-right:10px; float:right"><a href="/">Inicio</a></div></li>
    <li><div style="margin-top:18px;"><a href="nosotros.php">Nosotros</a></div></li>
    <li><div style="margin-top:18px;"><a href="productos.php">Productos</a></div></li>
    <li><div style="margin-top:18px;"><a href="horarios.php">Horarios</a></div></li>
    <li><div style="margin-top:18px;"><a href="compra.php">Compra</a></div></li>
    <li><div style="margin-top:18px;"><a href="administracion.php">Administraci&oacute;n</a></div></li>
    <li style="background:none"><div style="margin-top:18px; margin-left:5px;"><a href="contactenos.php">Cont&aacute;ctenos</a></div></li>
   </ul>
  </div>

</div>

<div id="contentwrp">
 <div id="content">
  <h1 style="font-size:16px; color:#4074B0">Bienvenido!</h1>
<p>Constructora LUARKA S.A.<br>
 Fabricaci&oacute;n de productos a base de concreto como:<br>
 <br>
 Baldosas, Columnas, Postes, entre otros implementos para construcci&oacute;n<br>
 Diversos modelos de paquetes de casas prefabricadas<br>
 <br>
Construimos para la gente,  nos caracterizamos por nuestro compromiso de brindar los mejores y más eficientes productos al mercado en nuestro país; brindamos nuestro servicio a todo el pa&iacute;s.</p>
<p>Nuestro objetivo es satisfacer las necesidades de las personas a la hora de construir viviendas u otro tipo de edificaci&oacute;n.</p>
<p><img src="images/baldosas.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Siempre realizando productos de calidad para el cliente, con un compromiso constante en el mejoramiento en los materiales de construcci&oacute;n y del mantenimiento de nuestra planta de elaboraci&oacute;n.</p>
<p>Somos una empresa 100% costarricense y amigable con el ambiente</p>
<p>Tenemos los mejores precios para satisfacer las nuevas demandas del mercado.</p>
<p>Constructora -LUARKA Construimos para la gente-</p>
<p>&nbsp;</p>
