@main(""){

<div id="contentwrp">
    
    <h1 style="font-size:20px; color:#6834B1">Cat&aacute;logo de productos</h1>
    <h1 style="font-size:16px; color:#4074B0">Productos en unidades</h1>
    
    <p><img src="assert/images/baldosas.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Baldosas
    <p><img src="assert/imagescolumnas.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Columnas
    <p><img src="assert/images/te.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Tes
    <p><img src="assert/images/corona.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Coronas
    <p><img src="assert/images/tubo.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Tubo de Concreto
        
    
    <h1 style="font-size:16px; color:#4074B0">Productos por paquetes</h1>
    
    <p><img src="assert/images/casa1.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></>Vivienda de una planta
    <p><img src="assert/images/casa2.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></>Vivienda de dos plantas
    <p><img src="assert/images/eco.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Vivienda econ#&oacute;mica
    <p><img src="assert/images/premium.jpg" alt="LUARKA" height="30" width="15" style="float:right;" ></> Vivienda Premium
        <p>&nbsp;</p>
        
</div>
}