@main(""){

<div id="contentwrp">
    
    <h1 style="font-size:20px; color:#6834B1">Cat&aacute;logo de productos</h1>
    <h1 style="font-size:16px; color:#4074B0">Productos</h1>
    
    
    <table class="table table-hover">
        <tr class="active">Producto</tr>
        <tr class="active">Cantidad</tr>
        <tr class="active">Precio</tr>
        </tr>
            <tr>
        <tr class="success">Columnas</tr>
        <tr class="success">12</tr>
        <tr class="success">100000</tr>
        </tr>
            <tr>
        <tr class="warning">Tes</tr>
        <tr class="warning">12</tr>
        <tr class="warning">120000</tr>
        </tr>
            <tr>
        <tr class="danger">Coronas</tr>
        <tr class="danger">12</tr>
        <tr class="danger">80000</tr>
        </tr>
            <tr>
        <tr class="info">Baldosas</tr>
        <tr class="info">24</tr>
        <tr class="info">200000</tr>
    </table>
    
        <p>&nbsp;</p>
        
</div>
}