@main(""){

<div id="contentwrp">
    
    <h1 style="font-size:20px; color:#6834B1">Cat&aacute;logo de productos</h1>
    
        
    
    <h1 class="text-center" style="font-size:18px; color:#4074B0; font-weight: bold;">Productos</h1>
  
    <table class="table table-hover">
        <tr>
        <td class="active" style="font-size:17px; font-weight: bold;">Producto</td>
        <td class="active" style="font-size:17px; font-weight: bold;">Cantidad del paquete</td>
        <td class="active" style="font-size:17px; font-weight: bold;">Precio</td>
        </tr>
            <tr>
        <td class="success">Columnas</td>
        <td class="success">12</td>
        <td class="success">100000</td>
        </tr>
            <tr>
        <td class="warning">Tes</td>
        <td class="warning">12</td>
        <td class="warning">120000</td>
        </tr>
            <tr>
        <td class="danger">Coronas</td>
        <td class="danger">12</td>
        <td class="danger">80000</td>
        </tr>
            <tr>
        <td class="info">Baldosas</td>
        <td class="info">12</td>
        <td class="info">100000</td>
    </tr>
    </table>
    <p>&nbsp;</p>
        
</div>
}